.la-carte-grid {
    width: 69vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(3, 22vw);
    grid-template-rows: repeat(3, auto);
}

.dish-wrapper {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}

.dish-img-wrap {
    width: 92%;
    /*    background-color: greenyellow;*/
    margin: 0 auto;
}

.dish-img-wrap img {
    object-fit: cover;
    width: 100%;
    /*    height: 100%;*/
}

.dish-text {
    width: 92%;
    margin: 0 auto;
}

.dish-price {
    width: 92%;
    text-align: right;
    font-weight: 400;
    position: absolute;
    bottom: 3px;
}

.dish-text h3 {
    margin: 0;
    color:#312F2F;
    font-weight: 500;
    font-size: 17px;
}

.menu-headers {
    font-size: 3.2rem;
    color: #605959;
    text-align: center;
}

.la-carte-body-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 2vh;
}

/*TABLET */
@media only screen and (min-width: 768px) and (max-width: 1100px) {

    .la-carte-grid {
        width: 68vw;
        margin: 0 auto;
        grid-template-columns: repeat(2, 34vw);
    }


}

/*IN BETWEEN MOBILE AND TABLET LOL*/

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .la-carte-grid {
        width: 98vw;
        margin: 0 auto;
        grid-template-columns: repeat(2, 47vw);
    }


}


/*---MOBILE BEGIN--- */
@media (max-width: 640px) {

    .la-carte-grid {
        width: 98vw;
        margin: 0 auto;
        grid-template-columns: repeat(1, 98vw);
    }

    .dish-wrapper {
        display: grid;
        grid-gap: 1vw;
        grid-template-columns: repeat(2, 49vw);
    }

    .dish-price {
        text-align: left;
        margin-left: 8px;
        position: static;
    }

    .dish-text {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    .dish-text h3 {
    font-size: 16px;
}
    .la-carte-body-text {
    width: 85%;
}


}

/*---MOBILE END--- */
